<footer class="hidden md:block bg-white rounded-lg m-4">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
    <span class="text-sm text-gray-500 sm:text-center">
      Jessica York  Art © <%= Time.now.year %>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
      <li>
        <%= link_to "/" do %>
          <%= render Logo::Component.new %>
        <% end %>
      </li>
    </ul>
  </div>
</footer>
