<span class="self-center text-2xl font-semibold whitespace-nowrap">
  <% if footer %>
    <%= image_tag "logo.jpeg", class: "w-20" %>
  <% else %>
    <%= image_tag "logo.jpeg", class: "w-32 md:w-52" %>
  <% end %>
</span>
