<% if notice %>
  <div class="alert alert-notice mt-20" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-error mt-20" role="alert">
    <%= alert %>
  </div>
<% end %>
